.idea
node_modules
client/public/bundle.*
srv/js
lambda/parser/*.js
lambda/parser/*.js.map
lambda/parser/parsers/*.js
lambda/parser/parsers/*.js.map
lambda/view-modifier/*.js
lambda/view-modifier/*.js.map
lambda/proxy/*.js
lambda/proxy/*.js.map
.env
srv/data
