*, *:before, *:after {
	box-sizing: border-box;
}
html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	background-color: #f4f4f4;
	outline: none;
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
input[type="date"] {
	padding: 3px 5px;
}
.header {
	position: fixed;
	top: 0;
	min-width: 100%;
	z-index: 3;
	background: white;
	padding: 10px 20px;
}
.publisher-columns {
	display: flex;
	min-width: 768px;
    position: relative;
}

.publisher-col {
    width: 220px;
	position: relative;
}

.publisher-col-header {
	height: 50px;
	position: -webkit-sticky;
	position: sticky;
	top: 50px;
	z-index: 5;
	width: 100%;
	border-bottom: 1px solid var(--bg-color);
	background: white;
	display: block;
}
.publisher-col-header::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 1px;
	background: linear-gradient(to bottom, white, var(--bg-color));
}
.publisher-col-header img.logo {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	left: 50%;
	max-width: calc(100% - 40px);
	height: 20px;
    z-index: 1;
}
.publisher-col-header select {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    color: black;
    background-color: transparent;
    border: none;
    opacity: 0.001;
}
.publisher-col-publisher .publisher-col-header::before {
    content: "▼";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    font-size: 0.6em;
    color: #333;
    opacity: 0.2;
    transition: opacity 0.2s;
}
.publisher-col-header:hover::before {
    opacity: 1;
}
.publisher-col-idnes {
	--full-color: rgb(228, 31, 31);
	--bg-color: rgba(228, 31, 31, 0.2);
	--bg-color-alpha-mid: #fef0ef;
	--bg-color-alpha-low: rgba(228, 31, 31, 0.03);
	--bg-color-light: #fff8f8;
}
.publisher-col-lidovky {
	--full-color: rgb(28, 66, 130);
	--bg-color: rgba(28, 66, 130, 0.2);
	--bg-color-alpha-mid: #f0f2f7;
	--bg-color-alpha-low: rgba(28, 66, 130, 0.03);
	--bg-color-light: #f8f9fb;
}
.publisher-col-lidovky .publisher-col-header img.logo {
	height: 19px;
}
.publisher-col-aktualne {
	--full-color: rgb(4, 133, 165);
	--bg-color: rgba(4, 133, 165, 0.2);
	--bg-color-alpha-mid: #f1f2f8;
	--bg-color-alpha-low: rgba(4, 133, 165, 0.03);
	--bg-color-light: #f8fbfc;
}
.publisher-col-aktualne .publisher-col-header img.logo {
	height: 28px;
}
.publisher-col-irozhlas {
	--full-color: rgb(216, 37, 52);
	--bg-color: rgba(216, 37, 52, 0.2);
	--bg-color-alpha-mid: #fdf0f1;
	--bg-color-alpha-low: rgba(216, 37, 52, 0.03);
	--bg-color-light: #fef8f8;
}
.publisher-col-irozhlas .publisher-col-header img.logo {
	height: 26px;
}
.publisher-col-novinky {
	--full-color: rgb(154, 5, 11);
	--bg-color: rgba(154, 5, 11, 0.2);
	--bg-color-alpha-mid: #f9eded;
	--bg-color-alpha-low: rgba(154, 5, 11, 0.03);
	--bg-color-light: #fbf7f7;
}
.publisher-col-novinky .publisher-col-header img.logo {
	height: 28px;
}
.publisher-col-ihned {
	--full-color: rgb(63, 69, 82);
	--bg-color: rgba(63, 69, 82, 0.2);
	--bg-color-alpha-mid: #f2f3f4;
	--bg-color-alpha-low: rgba(63, 69, 82, 0.03);
	--bg-color-light: #f9f9f9;
}

.publisher-col-bbc {
	--full-color: rgb(29, 29, 27);
	--bg-color: rgba(29, 29, 27, 0.2);
	--bg-color-alpha-mid: #ededed;
	--bg-color-alpha-low: rgba(29, 29, 27, 0.03);
	--bg-color-light: #f8f8f8;
}

.publisher-col-ft {
	--full-color: rgb(51, 48, 46);
	--bg-color: rgba(51, 48, 46, 0.2);
	--bg-color-alpha-mid: #efefef;
	--bg-color-alpha-low: rgba(51, 48, 46, 0.03);
	--bg-color-light: #f9f9f8;
}

.publisher-col-lemonde {
	--full-color: rgb(26, 22, 26);
	--bg-color: rgba(26, 22, 26, 0.2);
	--bg-color-alpha-mid: #ededed;
	--bg-color-alpha-low: rgba(26, 22, 26, 0.03);
	--bg-color-light: #f8f8f8;
}

.publisher-col-wyborcza {
	--full-color: rgb(230, 23, 57);
	--bg-color: rgba(230, 23, 57, 0.2);
	--bg-color-alpha-mid: #feecef;
	--bg-color-alpha-low: rgba(230, 23, 57, 0.03);
	--bg-color-light: #fff7f9
}

.publisher-col-spiegel {
	--full-color: rgb(151, 25, 20);
	--bg-color: rgba(151, 25, 20, 0.2);
	--bg-color-alpha-mid: #f7edec;
	--bg-color-alpha-low: rgba(151, 25, 20, 0.03);
	--bg-color-light: #fcf8f7;
}

.publisher-col-denikn {
	--full-color: rgb(199, 36, 55);
	--bg-color: rgba(199, 36, 55, 0.2);
	--bg-color-alpha-mid: #fbeeef; /* A 0.08 */
	--bg-color-alpha-low: rgba(199, 36, 55, 0.03);
	--bg-color-light: #fef8f9 /* A 0.03 */
}

.publisher-col-denik {
	--full-color: rgb(1, 128, 200);
	--bg-color: rgba(1, 128, 200, 0.2);
	--bg-color-alpha-mid: #e8f2fa;
	--bg-color-alpha-low: rgba(1, 128, 200, 0.03);
	--bg-color-light: #f8fbfd;
}

.publisher-col-print {
	margin-top: 49px;
	height: 280px;
	text-align: center;
}
.publisher-col-print + .publisher-col-content {
	margin-top: 0;
}

.publisher-col-print img {
	max-width: 195px;
}

.publisher-col-print-empty {
	display: inline-block;
	width: 95%;
	max-width: 195px;
	height: 95%;
	border: 1px dotted var(--full-color);
	background-color: var(--bg-color-alpha-mid);
	margin-top: 7px;
	position: relative;
}
.publisher-col-print-empty .text {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	font-size: 0.7em;
	color: var(--full-color);
	margin-top: -0.5em;
	text-align: center;
}
.publisher-col-content {
	position: relative;
	margin-top: 49px;
}
.publisher-col-item {
	border-top: 1px solid var(--bg-color);
	position: absolute;

}
.publisher-col-item-background {
	background-image: linear-gradient(to bottom, var(--bg-color-alpha-mid) 0, var(--bg-color-light) 50px);
	background-color: white;
}
/*.publisher-col-item:hover {*/
	/*z-index: 2;*/
/*}*/
/*.publisher-col-item:hover .publisher-col-item-content {*/
	/*background: var(--bg-color-light);*/
	/*border-bottom: 1px solid var(--bg-color);*/
/*}*/


.publisher-col-item-content {
	padding: 2px 6px;
	position: -webkit-sticky;
	position: sticky;
	top: 100px;
	font-size: 0.9rem;
	max-height: 100%;
	overflow: hidden;
}

@media screen and (min-width: 1200px) {
	.publisher-col-item-content {
		padding: 8px 14px;
	}
}

.publisher-col-item-content a {
	color: var(--full-color);
	text-decoration: underline;
	font-weight: 500;
}
.publisher-col-item-content a:hover {
	text-decoration: none;
}

.publisher-col-item-content .perex {
	color: #666;
	font-weight: 300;
	margin-top: 0.3em;
	font-size: 0.9em;
}

.time-col {
	width: 16px;
	position: relative;
    min-width: 16px;
}
.time-tick {
	padding-top: 3px;
	border-top: 1px solid #ccc;
}
.time-tick-content {
	transform: rotate(90deg);
	padding-left: 0.5em;
	font-size: 0.7em;
	color: #888;
	white-space: nowrap;
	text-transform: uppercase;
}
.error-box-container {
	text-align: center;
	position: absolute;
	top: 80px;
	width: 100%;
}
.error-box {
	display: inline-block;
	border: 1px solid #f5c6cb;
	border-radius: 4px;
	padding: 10px 10px;
	background: #f8d7da;
	color: #721c24;
	text-align: center;
}

footer {
	color: #888;
	font-size: 0.8em;
	padding: 10px 10px 20px 10px;
	border-top: 1px solid #ccc;
}

footer p {
	margin: 0.4em;
	line-height: 1.4em;
}

footer a, footer a:visited {
	color: #335;
}
